<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="svin.bowlingliga" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".BowlingLeagueStartActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".RegisterScoreActivity"
            android:label="@string/title_activity_register_score_activiten"
            android:parentActivityName=".BowlingLeagueStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".BowlingLeagueStartActivity" />
        </activity>
        <activity
            android:name=".ReadRankingsActivity"
            android:label="@string/title_activity_read_rankings"
            android:parentActivityName=".BowlingLeagueStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="svin.bowlingliga.BowlingLeagueStartActivity" />
        </activity>
        <activity
            android:name=".LoginMenuActivity"
            android:label="@string/title_activity_login_menu" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchHistoryActivity"
            android:label="@string/title_activity_match_history"
            android:parentActivityName=".BowlingLeagueStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="svin.bowlingliga.BowlingLeagueStartActivity" />
        </activity>
        <activity
            android:name=".RegisterNewUserActivity"
            android:label="@string/title_activity_register_new_user"
            android:parentActivityName=".LoginMenuActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="svin.bowlingliga.LoginMenuActivity" />
        </activity>
        <activity
            android:name=".ReadRulesActivity"
            android:label="@string/title_activity_read_rules"
            android:parentActivityName=".BowlingLeagueStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="svin.bowlingliga.BowlingLeagueStartActivity" />
        </activity>
        <activity
            android:name=".ReadStatsActivity"
            android:label="@string/title_activity_read_stats"
            android:parentActivityName=".BowlingLeagueStartActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="svin.bowlingliga.BowlingLeagueStartActivity" />
        </activity>
    </application>

</manifest>
